body {
    margin: 0;
    padding: 0;
    display: grid;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

.container {
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
}

